:root {
  --el-color-primary: #2563EB;
  --el-color-primary-light-3: #5b8def;
  --el-color-primary-light-5: #92b5f4;
  --el-color-primary-light-7: #bdd5f8;
  --el-color-primary-light-8: #d4e4fa;
  --el-color-primary-light-9: #eaf1fd;
  --el-color-primary-dark-2: #1d4ed8;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

// Scrollbar styling
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #dcdfe6;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
